<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Funcionário</title>
</head>
<body>
    <h1>Dashboard de Funcionário</h1>
    <nav>
        <ul>
            <li><a href="/admin/usuarios">Gerenciar Usuários</a></li>
            <li><a href="/admin-vacinas">Gerenciar Vacinas</a></li>
            <li><a href="/admin-logout">Sair</a></li>
        </ul>
    </nav>
</body>
</html>
