<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Bem-vindo, <%= usuario.nome_completo %>!</h1>
    <a href="/lista-vacinas">Ver Lista de Vacinas</a>
    <a href="/vacinas-usuarios">Vacinas Tomadas</a>
    <a href="/gerenciar-dependentes">Gerenciar Dependentes</a>
    <a href="/vincular-dependentes">Vincular Dependentes</a>
    <a href="/logout">Sair</a>
</body>
</html>


