<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <head>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/gerenciar-dependentes.css">
        <link rel="stylesheet" href="/css/responsivo.css">
    </head>
    <title>Gerenciar Dependentes</title>
</head>
<body>
    <header>
        <img src="/images/logo_vacisus.jpg" alt="Logo" class="logo">
    </header>
    <h1>Gerenciar Dependentes de <%= usuario.nome_completo %></h1>
    <ul>
        <% dependentes.forEach(function(dependente) { %>
            <li>
                Nome: <%= dependente.nome_completo %> (CPF: <%= dependente.cpf %>)
                <form action="/login-como-dependente" method="POST" style="display:inline;">
                    <input type="hidden" name="cpf" value="<%= dependente.cpf %>">
                    <button type="submit">Login como dependente</button>
                </form>
            </li>
        <% }); %>
    </ul>
    <!-- Botão para voltar ao perfil do gestor -->
    <form action="/voltar-ao-gestor" method="POST">
        <button type="submit">Voltar ao perfil do gestor</button>
    </form>
</body>
</html>


