<!DOCTYPE html>
<html>
<head>
    <title>Lista de Vacinas</title>
</head>
<body>
    <h1>Lista de Vacinas</h1>

    <% for (const faixaEtaria in vacinasPorFaixa) { %>
        <h2><%= faixaEtaria %></h2>
        <ul>
            <% vacinasPorFaixa[faixaEtaria].forEach(vacina => { %>
                <li>
                    <strong><%= vacina.nome %></strong>: <%= vacina.protecao %>
                </li>
            <% }); %>
        </ul>
    <% } %>

</body>
</html>

