/*dashboard.css */



body {
    background-color: #B6E8D0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #0e9252;
    margin-bottom: 20px;
}

/* Estilo para os botões */
.btn {
    display: block;
    padding: 15px 20px;
    margin: 10px 0; /* Espaçamento entre os botões */
    background-color: #0e9252;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    width: 100%; /* Ocupa toda a largura do container */
    box-sizing: border-box;
}

.btn:hover {
    background-color: #0b7a42;
}

