body {
    background-color: #B6E8D0; /* Cor de fundo suave */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    color: #0e9252;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 600px; /* Limita a largura da lista */
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 15px auto; /* Espaçamento e centralização */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    color: #033a20;
    width: 100%;
    max-width: 550px; /* Limita a largura dos itens da lista */
}

form {
    display: inline-block;
}

button {
    background-color: #0e9252;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
}

button:hover {
    background-color: #0b7a42;
}

/* Botão de voltar ao perfil do gestor */
form[action="/voltar-ao-gestor"] {
    margin-top: 20px;
}

form[action="/voltar-ao-gestor"] button {
    width: 100%; /* Para ocupar a largura completa */
    text-align: center;
}

